RewriteEngine On
RewriteRule ^artikels$ pages/articles/articles.php
RewriteRule ^artikel/(.*)$ pages/articles/article.php?slug=$1

RewriteRule ^login$ pages/auth/signin.php
RewriteRule ^wachtwoord_vergeten$ pages/auth/password.php
RewriteRule ^loguit$ pages/auth/signout.php

RewriteRule ^hulp$ pages/dashboard/results/index.php
RewriteRule ^hulp/([0-9]+)$ pages/dashboard/results/categories.php?id=$1

RewriteRule ^tips$ pages/tips/tips.php

RewriteRule ^formulier$ pages/formulier.php

RewriteRule ^profiel$ pages/user.php

RewriteRule ^dashboard$ pages/dashboard/index.php
RewriteRule ^dashboard/$ pages/dashboard/index.php

RewriteRule ^$ pages/index.php

<IfModule mod_headers.c>
    # 2 Weeks cache
    <FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|swf)$">
        Header set Cache-Control "max-age=1209600, public"
    </FilesMatch>

    # 3 days cache
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=259200"
    </FilesMatch>
</IfModule>

<Files "includes/config.dist.php">
    require all denied
</Files>